/*--------------------------ШАПКА САЙТА-------------------------------------*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 49px 92px 51px;
    width: 1440px;
    margin: auto;
}

.header__menu-list {
    display: flex;
    font-size: 18px;
    list-style: circle;
    gap: 32px;
}

.header__link {
    text-decoration: none;
}

header__link-activ {
    border-bottom: 1px solid black;
}

.header__link__list__no-activ {
    list-style: none;
    align-content: flex-start;
}

.header__logo {
    flex: 0 0 285px;
}

.header__logo-img {
    width: 142px;
    height: 106px;
}

.address {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 135%;
    font-style: normal;
    flex-wrap: wrap;
    flex: 0 0 238px;
}

/*-----------------------------------------------------------------------*/
/*--------------------------КОНТЕНТ-------------------------------------*/
.cover {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    width: 1440px;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 165px 50px 0 50px;
    color: white;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    z-index: 2;
}

.aligned__text {
    letter-spacing: 30px;
}

.algned__text__left-spacing {
    letter-spacing: 60px;
    line-height: 115px;
}

.aligned__text-center {
    display: flex;
    justify-content: center;
    position: relative;
    letter-spacing: 30px;
}

.aligned__text__center-spacing {
    letter-spacing: 30px;
    line-height: 101px;
    flex: 0 0 148px;
}

.aligned__text__right {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 30px;
}

.aligned__text__right-spacing {
    letter-spacing: 0px;
}

.aligned__text__right__spacing-charactern {
    letter-spacing: 57px;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 135px 50px 50px 50px;
    color: white;
    z-index: 2;
    gap: 80px;
}

.cover__description-text {
    font-size: 22px;
    font-style: normal;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    color: white;
    padding: 11px 31px;
    border: 1px solid white;
    background: transparent;
    text-transform: uppercase;
    font-weight: normal;
}

.lots {
    padding: 180px 50px 180px 50px;
    margin: auto;
    width: 1440px;
    flex-wrap: wrap;
}

.lots__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    width: 430px;
    min-height: 450px;
    color: white;
    flex-grow: 1;
}

.card__type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card__type-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card__type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__link {
    text-decoration: none;
}

.card__title {
    text-decoration-line: underline;
    position: relative;
    z-index: 2;
    font-size: 22px;
    padding: 50px 40px 0 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: normal;
    padding: 0 40px 50px 40px;
}

.lots__look__more-link {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.about {
    display: grid;
    justify-items: center;
    width: 1440px;
    gap: 26px;
    grid-template-rows: repeat(auto-fill, minmax(487px, auto));
    grid-template-columns: 430px 2fr;
    padding: 0 50px 9px 50px;
    margin: auto;
}

.about__column {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.about__logo {
    display: flex;
    justify-content: center;
    border-radius: 120px;
    background-color: black;
    width: 240px;
    height: 240px;
    align-items: center;
}

.about__logo-img {
    width: 148px;
}

.about__title {
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 72px;
}

.about__text__rows1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    padding-bottom: 19px;
}

.about__text__rows2{
    font-size: 20px;
    padding-bottom: 0px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 177px 50px 90px 50px;
    margin: auto;
    width: 1440px;
}


/*--------------------------ПОДВАЛ-------------------------------------*/
.footer__menu {
    position: relative;
    font-size: 18px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 48px;
}

.footer__menu__list-item_active {
    text-decoration: none;
}

.footer__menu__link-active {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social_list-item_active {
    text-decoration: none;
}